.box {
  background-color: white;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box img {
  border: 2px solid #1e90ff;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.box .title{
  color: #555555;
  font-weight:bold;
  letter-spacing: 1px;
  text-transform: capitalize;

}

.box .location{
color: #1e90ff;
font-weight: 450;

}

