<div class="home-div gray-bg">
  <div class="container">
    <div class="main-heading">
      <div class="text-center">
        <span>Happy </span>
        <span>Customers</span>
      </div>
      <p class="section-description text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. lvoluptatem.</p>
    </div>
    <div class="row m-5 ">
      <div *ngFor="let customer of customers" class="col box   mat-elevation-z8">
        <img  [src]="customer.imgpath" alt="">
        <h1 class="mb-1 title">{{customer.name}}<span>({{customer.title}})</span></h1>
        <h4 class=" mb-1 location">{{customer.locationCity}},{{customer.locationCountry}}</h4>
        <p class="m-4 mb-1 mt-1  text-center fst-italic">
        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel tenetur quisquam nisi fuga! Harum voluptate
          numquam voluptatibus id, cumque facere molestiae porro? Voluptate error quaerat eaque architecto"
        </p>
      </div>

    </div>
    <div class="navigation text-center mb-4">
      <button mat-button>
        <i class="fa fa-chevron-left"></i>
      </button>
      <button mat-button>
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
