<mat-toolbar class="toolbar">

 <div class="logo ">
      <img class="logo-img" src="../../../assets/imgs/logo1.png" alt="">
      <div class="logo-text">
        <span>post</span>
        <span> & </span>
        <span>buy</span>
        <span>free classified</span>
      </div>
 </div>
 <i class="fa fa-bars toggel-menu"></i>

  <div class="menuItems ">

    <ul  class="list-unstyled d-flex m-0">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/contact">Contact Us</a>

      </li>
      <li>
        <a routerLink="/about">about Us</a>
      </li>
    </ul>
     <button mat-button class="m-1  ad-button"> Post & AD</button>
    <button mat-button class="m-1  reg-button">Register</button>
  </div>

</mat-toolbar>
