<div class="home-div back-overlay">
  <div class="container">
    <div class="main-heading white-heading text-center">
      <div>
        Download our app
      </div>
      <h1>A world market in your hand</h1>
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. lvoluptatem.</p>
    </div>
    <!-- <div class="row m-5   text-center ">
      <div class="col-4">
        <button type="button" class="btn btn-primary-outline  ">
          <i class="fa fa-android" aria-hidden="true"></i>
          download
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary-outline">
          <i class="fa fa-apple" aria-hidden="true"></i>
          download
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary-outline">
          <i class="fa fa-windows" aria-hidden="true"></i> download
        </button>
      </div>

    </div> -->
    <div class="row justify-content-center text-center">
      <div class="col-6">
        <button type="button" class="download-box btn   ">
          <i class="fa fa-android" aria-hidden="true"></i>
          download
        </button>
        <button type="button" class=" download-box btn ">
          <i class="fa fa-apple" aria-hidden="true"></i>
          download
        </button>
       <button type="button" class=" download-box btn">
          <i class="fa fa-windows" aria-hidden="true"></i> download
        </button>
      </div>

    </div>
  </div>
</div>
