<div class="banner d-flex">
  <div class="text d-flex justify-content-center   align-items-center">
    <h1>World's largest classifieds sites</h1>
  </div>
  <div class="container input-div">
    <div class="row">
      <div class="col-8">
        <mat-form-field appearance="fill"  class="form-field-full  me-0 ms-0" >
          <mat-label>What you are looking for</mat-label>
          <input matInput placeholder="What you are looking for">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="form-field-full  me-0 ms-0">
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <button mat-button class="text-uppercase  me-0 ms-0">Search Ad</button>
      </div>
    </div>
  </div>
</div>
