.banner {
  background: url(../../../assets/imgs/back7.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 60vh;

  min-height: 60vh;
  min-width: 100%;
  position: relative;
  z-index: 0;


  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
.banner:after {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(15 18 85 / 90%);
}

.banner .text {
  margin: 150px 0 50px 0;
  color: white;
}
.banner .text h1 {
  font-size: 60px;
  font-weight: 550;
  text-transform: capitalize;
}
.banner .text p {
display:block;
  font-weight: 550;
}
.form-field-full {
  width: 100%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
.input-div button {
  color: white;
  background-color: #1e90ff;
  padding: 13px 20px 13px 20px;
  margin-top: 0.1em;
  line-height: 1.6;
}


// Small devices (landscape phones, 576px and up)

@media (max-width: 576px)  {
  .banner .text h1 {
    font-size: 35px;
    font-weight: 400;
   }
 }

 // Medium devices (tablets, 768px and up)
 @media (max-width: 768px) {
  .banner .text h1 {
    font-size: 40px;
    font-weight: 400;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   .banner .text h1 {
  font-size: 50px;
  font-weight: 400;

} }
