
<div class="home-div footer-div  gray-bg">
<div class="img"></div>

<div class="footer-info  p-3 ">

  <div class="container-fluid row">
    <div class="col-4">
      <div class="logo ">
        <img class="logo-img" src="../../../assets/imgs/logo1.png" alt="">
        <div class="logo-text">
          <span>post</span>
          <span> & </span>
          <span>buy</span>
          <span>free classified</span>
        </div>
   </div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus quibusdam obcaecati deleniti vero laboriosam. Nemo, aperiam cupiditate! Laborum sint velit voluptas eligendi perferendis debitis aperiam quo quibusdam ducimus quod. Corrupti?
    </div>
    <div class="col-2">
      <h2>Quick links</h2>
      <ul class="list-items">
        <li> <i class="fa fa-caret-right" aria-hidden="true"></i>About Us</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Careers</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>All Categories</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Post an Ad</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Privacy Policy</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Blog</li>
      </ul>
    </div>
    <div class="col-2">
      <h2>Help Center</h2>
      <ul  class="list-items">
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Help & Support</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>FAQs</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Account Issue</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Fake Ads</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Buy Membership</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>Terms of Services</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i>History</li>
      </ul>
    </div>
    <div class="col-4">
      <h2>Contact Us</h2>
<p class="address">
  <i class="fa fa-map-signs" aria-hidden="true"></i>  123 loream suit NewYourk,NA 123456</p>
<p class="email">
    <i class="fa fa-envelope" aria-hidden="true"></i>  support@yourdomain.com
</p>
<p class="tel">
  <i class=" footer-icon fa fa-phone fa-3x" aria-hidden="true" ></i>(+1)123.456.7890</p>
<div>
  <i class="footer-icon fa fa-facebook-square fa-3x" aria-hidden="true"></i>
  <i class="footer-icon fa fa-twitter-square fa-3x" aria-hidden="true"></i>
  <i class="footer-icon fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
  <i class="footer-icon fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
  <i class="footer-icon fa fa-youtube-square fa-3x" aria-hidden="true"></i>

</div>
    </div>

  </div>
</div>

</div>


<footer>Copyrights 2021</footer>
