
<div class="home-div footer-div  gray-bg">
<div class="img"></div>

<div class="footer-info container">

  <div class="row">
    <div class="col-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus quibusdam obcaecati deleniti vero laboriosam. Nemo, aperiam cupiditate! Laborum sint velit voluptas eligendi perferendis debitis aperiam quo quibusdam ducimus quod. Corrupti?
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-4"></div>

  </div>
</div>

</div>


<footer>Copyrights 2021</footer>
